:root {
	--dark: #61615C;
	--light: #FBFAF1;
	--shiny: #FFF8D7;
	--black: #1E1E1E;
	--gray: #37373D;
	--white: #FFFFF2;
	--orange: #C38D52;
	--green: #BDF67B;
	--red: #D06663;
	--blue: #01A9D0;
	--yellow: #FFE209;
	--dark-blue: #404758;
	--purple: #CE78E9;
	--grafite: #434343;
	--blue-green: #45818E;
	--light-gray: #E2E3E3;
	--brown: #ADA392;
	--gred: #EA9999;
	--gyellow: #FFE599;
	--ggreen: #B6D7A8;
	--fated: #FFE599;
	--legendary: #D5A6BD;
	--rare: #CFE2F3;
	--magical: #B7E1CD;
	--common: #e4ddce;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	/* background-color: var(--light); */
	background: url('/assets/img/site/bg-character.jpg') 50% no-repeat;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;

	color: var(--dark);
	font-weight: 500;
	margin: 0;
	overflow: hidden;
}

body {
	box-sizing: border-box;
}
/* 
h1, h2 {
	font-weight: 200;
	font-family: Georgia, serif;
} */

h1 {
	font-size: 40px;
}

h2 {
	font-size: 36px;
	margin-bottom: 5px !important;
}

.orange {
	color: var(--orange);
	font-weight: bold;
}

.green {
	color: var(--green);
	font-weight: bold;
}

.red {
	color: var(--red);
	font-weight: bold;
}

.blue {
	color: var(--blue);
	font-weight: bold;
}

.yellow {
	color: var(--yellow);
	font-weight: bold;
}

.purple {
	color: var(--purple);
	font-weight: bold;
}

 /* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted var(--light);
	box-shadow: 0 1px 2px 0 rgba(153,153,153,0.35);
	border-radius: 4px;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 300px;
	background-color: var(--gray);
	color: var(--shiny);
	text-align: center;
	padding: 15px;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltip */
	opacity: 0;
	transition: all 0.3s ease;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--gray) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}